<!-- footer -->
<div class="footer w3-w3layouts">
    <div class="container">
        <div class="footer-agileinfo">
            <div class="col-md-3 col-sm-6 footer-grid">
                <h3>Useful Info</h3>
                <ul>
                    <li><a href="single.html"><i class="glyphicon glyphicon-chevron-right"></i>Hendrerit quam</a></li>
                    <li><a href="single.html"><i class="glyphicon glyphicon-chevron-right"></i>Amet consectetur </a></li>
                    <li><a href="single.html"><i class="glyphicon glyphicon-chevron-right"></i>Iquam hendrerit</a></li>
                    <li><a href="single.html"><i class="glyphicon glyphicon-chevron-right"></i>Donec ut lectus </a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 footer-grid">
                <h3>Recent Posts</h3>
                <ul>
                    <li><a href="single.html"><i class="glyphicon glyphicon-chevron-right"></i>Vestibulum felis</a></li>
                    <li><a href="single.html"><i class="glyphicon glyphicon-chevron-right"></i>Mauris at tellus</a></li>
                    <li><a href="single.html"><i class="glyphicon glyphicon-chevron-right"></i>Donec ut lectus</a></li>
                    <li><a href="single.html"><i class="glyphicon glyphicon-chevron-right"></i>Vitae interdum</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 footer-grid footer-tags">
                <h3>Tag Cloud</h3>
                <ul>
                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li><a href="@Url.Action("AboutUs","Home")">About</a></li>
                    <li><a href="codes.html">Codes</a></li>
                    <li><a href="@Url.Action("Gallery","Home")">Gallery</a></li>
                    <li><a href="@Url.Action("ContactUs","Home")">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 footer-grid footer-review">
                <h3>Review</h3>
                <p>Maecenas sodales tortor ac ligula ultrices dictum et quis urna. Etiam pulvinar metus neque eget porttitor massa.</p>
                <form action="#" method="post">
                    <input type="search" name="Search" placeholder="Enter your search term..." required="">
                    <button type="submit" class="btn btn-default" aria-label="Left Align">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<div class="copy-right">
    <div class="container">
        <p>© 2017 Steel Vats . All rights reserved | Design by <a href="http://www.technobirds.pk/"> Technobirds.</a></p>
    </div>
</div>
<!-- //footer -->  