
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Steel Vats an Industrial Category Bootstrap Responsive website Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Steel Vats Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
    SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="~/Content/css/bootstrap.css" type="text/css" rel="stylesheet" media="all" />
    <link href="~/Content/css/style.css" type="text/css" rel="stylesheet" media="all" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/flexslider.css" type="text/css" media="all" property="" />
    <!-- //Custom Theme files -->
    <!-- web-fonts -->

    <link href="//fonts.googleapis.com/css?family=Bigshot+One" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- //web-fonts -->
</head>

<body>
    <div class="w3ls-banner aboutw3ls-banner">
        @Html.Partial("~/Views/Shared/_Header.cshtml")
</div>
    @RenderBody()
        <hr />
        @Html.Partial("~/Views/Shared/_Footer.cshtml")
    <!-- js -->
    <script src="~/Content/js/jquery-2.2.3.min.js"></script>
    <!-- FlexSlider -->
    <script defer src="~/Content/js/jquery.flexslider.js"></script>
    <script type="text/javascript">
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });
    </script>
    <!-- End-slider-script -->
    <script src="~Content/js/SmoothScroll.min.js"></script>
    <!-- start-smooth-scrolling -->
    <script type="text/javascript" src="~/Content/js/move-top.js"></script>
    <script type="text/javascript" src="~/Content/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Content/js/bootstrap.js"></script>
    @* @RenderSection("Scripts", required: false)*@


</body>
</html>



