
@{
    ViewBag.title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

	<!-- about -->
<div class="about agileits">
    <div class="container">
        <h3 class="agileits-title">About Us</h3>
        <div class="about-w3ls-agileinfo">
            <div class="col-md-4 about-left agileits-w3layouts">
                <div class="pic">
                    <div class="stack twisted">
                        <img src="~/Content/images/img2.jpg" alt=" " class="img-responsive">
                    </div>
                </div>
            </div>
            <div class="col-md-8 about-right">
                <h5>Blanditiis praesentium deleniti atque corrupti quos </h5>
                <p>Dignissimos at vero eos et accusamus et iusto odio ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecat laborum et dolorum fuga.  </p>
                <!-- history -->
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title asd">
                                <a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Lorem ipsum dolor
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body panel_text">
                                Sed lectus tellus sodales id elit a, feugiat porttitor nulla. Sed porta magna vitae nisl vulputate lacinia. Morbi malesuada sollicitudin tortor, vitae pharetra nunc lacinia eget leo sodales adipiscing.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title asd">
                                <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Blanditiis praesentium
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body panel_text">
                                Feugiat porttitor nulla Sed lectus tellus sodales id elit a,  Sed porta magna vitae nisl vulputate lacinia. Morbi malesuada sollicitudin tortor, vitae pharetra nunc lacinia eget leo sodales adipiscing.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title asd">
                                <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Sed porta magna
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body panel_text">
                                Morbi malesuada sollicitudin tortor, vitae pharetra nunc lacinia eget leo sodales adipiscing. Sed lectus tellus, sodales id elit a, feugiat porttitor nulla. Sed porta magna vitae nisl vulputate lacinia.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title asd">
                                <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Nulla ornare purus
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body panel_text">
                                Sed lectus tellus, sodales id elit a, feugiat porttitor nulla. Sed porta magna vitae nisl vulputate lacinia. Morbi malesuada sollicitudin tortor, vitae pharetra nunc lacinia eget leo sodales adipiscing.
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //history -->
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //about -->
<!-- Stats -->
<div class="stats about news-w3layouts">
    <div class="container">
        <div class="stats-info agileits-w3layouts">
            <div class="col-sm-3 col-xs-6 stats-grid">
                <div class="stats-img">
                    <i class="fa fa-users" aria-hidden="true"></i>
                </div>
                <p>Happy Clients</p>
                <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='157000' data-delay='.5' data-increment="100">157000</div>
            </div>
            <div class="col-sm-3 col-xs-6 stats-grid">
                <div class="stats-img w3-agileits">
                    <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                </div>
                <p>Our Events</p>
                <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='850' data-delay='8' data-increment="1">850</div>
            </div>
            <div class="col-sm-3 col-xs-6 stats-grid">
                <div class="stats-img w3-agileits">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                </div>
                <p>Projects</p>
                <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='80000' data-delay='.5' data-increment="100">80000</div>
            </div>
            <div class="col-sm-3 col-xs-6 stats-grid">
                <div class="stats-img w3-agileits">
                    <i class="fa fa-trophy" aria-hidden="true"></i>
                </div>
                <p>Awards</p>
                <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='269' data-delay='8' data-increment="1">269</div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //Stats -->
<!-- team -->
<div class="team agileits">
    <div class="team-agileinfo">
        <div class="container">
            <h3 class="agileits-title">Our Team</h3>
            <div class="team-row agileits-w3layouts">
                <div class="col-sm-3 col-xs-6 team-grids">
                    <div class="team-agileimg">
                        <img class="img-responsive" src="~/Content/images/t1.jpg" alt="">
                        <div class="captn">
                            <div class="captn-top">
                                <h4>Edwards Doe</h4>
                                <p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
                            </div>
                            <div class="social-icon">
                                <a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6 team-grids">
                    <div class="team-agileimg">
                        <img class="img-responsive" src="~/Content/images/t2.jpg" alt="">
                        <div class="captn">
                            <div class="captn-top">
                                <h4>Mark Sophia</h4>
                                <p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
                            </div>
                            <div class="social-icon">
                                <a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6 team-grids">
                    <div class="team-agileimg">
                        <img class="img-responsive" src="~/Content/images/t3.jpg" alt="">
                        <div class="captn">
                            <div class="captn-top">
                                <h4>Michael amet</h4>
                                <p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
                            </div>
                            <div class="social-icon">
                                <a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6 team-grids">
                    <div class="team-agileimg">
                        <img class="img-responsive" src="~/Content/images/t4.jpg" alt="">
                        <div class="captn">
                            <div class="captn-top">
                                <h4>Daniel Nyari</h4>
                                <p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
                            </div>
                            <div class="social-icon">
                                <a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<!-- //team -->  
